<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thepiproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".BackGroundMusic"
            android:enabled="true" />

        <activity 
            android:name=".PlayerActivity">
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_category"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".LogicActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_logic"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="com.example.logic.LogicMain"
            android:label="@string/title_activity_logic_main"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.example.logic.LogicMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".speed.SpeedActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name=".GameSpeed_1"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_game_speed_1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name=".speed.GameSpeed1"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_game_speed1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name=".speed.GameSpeed2"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_game_speed2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name=".speed.GameSpeed5"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_game_speed5"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name=".speed.GameSpeed10"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_game_speed10"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="com.example.logic.NumbersExample"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.example.logic.LogicFinalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_logic_final"
            android:screenOrientation="portrait"
           >
        </activity>
        <activity
            android:name=".memory.MemoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_memory"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name=".memory.MemoryGame1"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_memory_game1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name=".memory.MemoryGame2"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_memory_game2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name=".AllGames"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_all_games"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="com.example.thepiproject.memory.MemoryGame3"
            android:label="@string/title_activity_memory_game3" >
        </activity>
    </application>

</manifest>
